body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background:#76b852;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.page-header {
  text-align: center;
}

.page-header h1 {
  padding: 8% 0 0;
  color: #6ab446;
  text-align: center;
  position: relative;
}

.page-header p {
  color: #aeacac;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 575.98px) {
  .page-header {
    left: 0;
    padding: 0 15px;
    position: relative;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .page-header h1 {
    font-size: 2em;
  }
  
  .page-header p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}