body {
  padding: 8% 0 0;
  margin: 0;
  background: #76b852;
}

.container h1 {
  color: #f2f6e9;
}

.container h5 {
  color: #f2f6e9;
}

.container p {
  color: #423e3e;
}

.form-check-label {
  color: #423e3e;
}